*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

:root{
    --color1: hsl(223, 87%, 63%);
    --color2: hsl(223, 100%, 88%);
    --color3: hsl(354, 100%, 66%);
    --color4: hsl(0, 0%, 59%);
    --color5: hsl(209, 33%, 12%);
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p1{
    margin-top: 42px;
    font-weight: 600;
    font-size: 32px;
}

.p2{
    margin-top: 42px;
    font-size: 42px;
    color: var(--color4);
}

#p2b{
    color: var(--color5);
}

.p3{
    margin-top: 42px;
    margin-bottom: 42px;
    font-size: 20px;
}

#inputfield{
    width: 360px;
    height: 42px;
    border-radius: 20px;
    padding-left: 16px;
    border: 1px solid var(--color4);
    outline: none;    
}

#submitbtn{
    margin-left: 12px;
    width: 142px;
    height: 42px;
    border-radius: 20px;
    background-color: var(--color1);
    border: none;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.206);
}

.previewimg{
    margin-top: 64px;
    margin-bottom: 42px;
    width: 40%;
    height: auto;
}

.links{}

.copyright{
    margin-top: 42px;
    margin-bottom: 42px;
    color: var(--color4);
    font-weight: 300;
    font-size: 12px;
}

@media(max-width:880px){

    .p1{
        font-size: 24px;
    }

    .p2{
        font-size: 24px;
    }

    .p3{
        font-size: 16px;
    }

    .previewimg{
        width: 80%;
    }

    .input{
        display: flex;
        flex-direction: column;
    }

    #submitbtn{
        width: 360px;
        margin-left: 0px;
        margin-top: 12px;
    }

}